/* @media screen and (max-width: 1100px) { 
    .container .right {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


.container .right {
    margin: 0;
}
.container img {
    width: 60%;
}
.container .right {
    margin-top: 30px;
    font-size: 25%;
}
.container .right p {
    font-size: 16px;
}
} */

@media screen and (max-width:960px) {

    h2 {
        font-size: 45px;
    }
    .bg {
        width: 350px;
    }
    .fr {
        width: 350px;
    }  
}
@media screen and (max-width:640px) {

    h2 {
        font-size: 45px;
    }
    .bg {
        width: 350px;
    }
    .fr {
        width: 350px;
        }}

        @media screen and (max-width:320px) {

            h2 {
                font-size: 40px;
            }
            img {
                top: -52%;
            }
            p {
                margin-top: 50px;
                font-size: px;
            }
            .bg {
                width: 200px;

            }
            .fr {
                width: 200px;
                
                }}
                .container {
                    flex-direction: column-reverse;
                    
                    
                }
                